*{
}
html {
overflow:hidden !important;
height:100%;
max-height:100%;
}
body {
height:100%;
margin:0;
padding:0;
max-height:100%;
background-color: #123;
overflow:hidden !important;
min-width:1200px;
}
.contenter {
width:1000px;
margin:0 auto;
}
.panel.active{
opacity:1;
margin-top: -104px;
}
.panel{
transition: .3s;
background-color: rgb(202, 50, 50);
border-top: 13px solid rgb(171, 36, 36);
height: 100px;
width: 1000px;
margin-top: 0px;
box-shadow: 0 0 10px 0px black;
opacity:0;
position: absolute;
color: white;
background-color: #DA4F4F;
}
.panel-close {
border-radius:3px; 
cursor:pointer;
padding:3px 5px;
background-color:white;
color:black;
display:inline;
float:right;
margin-right:20px;
margin-top:20px;
}
.object-description{

}
#chart1 {
}
.game-status{
	position: absolute;

	height: 100px;
}
#audio_input.hidden {
margin-top:20px;
}
#audio_input {
position: absolute;
margin-top: -120px;
z-index: 0;
transition: 1s;
padding: 40px 370px;
width: 1000px;
box-sizing: border-box;
text-align: center;
height: 120px;
background-color: white;
border: 10px solid rgb(23, 66, 108);
}
.object-description img{
	height:80px;
	width:80px;
	padding:10px;
}
#description-button-group{
	display:inline-block;
	margin-left: 100px;

}
#description-text-group{
	display:inline-block;
	margin-left: 100px;

}
#description-object-image{
width: 300px;
float: left;

}
#description-object-button{
	display:inline-block;
	margin-left: 100px;

}